
.icon-left152:before { content: '\e800'; } /* '' */
.icon-right148:before { content: '\e801'; } /* '' */
.icon-email108:before { content: '\e802'; } /* '' */
.icon-location42:before { content: '\e803'; } /* '' */
.icon-round68:before { content: '\e804'; } /* '' */
.icon-stick-man-2:before { content: '\e805'; } /* '' */
.icon-quotation3:before { content: '\e806'; } /* '' */
.icon-dust:before { content: '\e807'; } /* '' */
.icon-dustpan:before { content: '\e808'; } /* '' */
.icon-garbage:before { content: '\e809'; } /* '' */
.icon-gloves:before { content: '\e80a'; } /* '' */
.icon-house:before { content: '\e80b'; } /* '' */
.icon-liquid-soap:before { content: '\e80c'; } /* '' */
.icon-mop:before { content: '\e80d'; } /* '' */
.icon-plunger:before { content: '\e80e'; } /* '' */
.icon-shirt:before { content: '\e80f'; } /* '' */
.icon-soap:before { content: '\e810'; } /* '' */
.icon-sponge:before { content: '\e811'; } /* '' */
.icon-spray:before { content: '\e812'; } /* '' */
.icon-sweep:before { content: '\e813'; } /* '' */
.icon-toilet:before { content: '\e814'; } /* '' */
.icon-toilet-paper:before { content: '\e815'; } /* '' */
.icon-toothbrush:before { content: '\e816'; } /* '' */
.icon-towel:before { content: '\e817'; } /* '' */
.icon-vacuum-cleaner:before { content: '\e818'; } /* '' */
.icon-wash:before { content: '\e819'; } /* '' */
.icon-washing-machine:before { content: '\e81a'; } /* '' */
.icon-water-tap:before { content: '\e81b'; } /* '' */
.icon-window:before { content: '\e81c'; } /* '' */
.icon-wipe:before { content: '\e81d'; } /* '' */
.icon-apron:before { content: '\e81e'; } /* '' */
.icon-bin:before { content: '\e81f'; } /* '' */
.icon-brush:before { content: '\e820'; } /* '' */
.icon-bucket:before { content: '\e821'; } /* '' */
.icon-cleaning:before { content: '\e822'; } /* '' */
.icon-detergent:before { content: '\e823'; } /* '' */
.icon-dish:before { content: '\e824'; } /* '' */